.dart_tool/chrome-device/Default/Favicons~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Network Action Predictor~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Safe Browsing Cookies~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Visited Links~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/000029.log
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/000031.log
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/MANIFEST-000028
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/MANIFEST-000030
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG.old~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/0ae129c33e7a30bd_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2a0afd649b00527b_0
.dart_tool/chrome-device/Default/Session Storage/000003.log~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Session Storage/LOG.old~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Session Storage/LOG~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Sessions/Session_13289768405229173
.dart_tool/chrome-device/Default/Sessions/Session_13290076065392719
.dart_tool/chrome-device/Default/Sessions/Tabs_13289768406320840
.dart_tool/chrome-device/Default/Sessions/Tabs_13290076067325845
.dart_tool/chrome-device/Default/Site Characteristics Database/000003.log~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG.old~7146b223f72aa72650bbd998fb9a82828f32e0d2
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG~7146b223f72aa72650bbd998fb9a82828f32e0d2
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
build/cf81dbb7dee963bedb1148fc66e70128.cache.dill.track.dill
build/940f404e9f859bc96f329dfc820bd7d1/_composite.stamp
build/940f404e9f859bc96f329dfc820bd7d1/gen_dart_plugin_registrant.stamp
build/940f404e9f859bc96f329dfc820bd7d1/gen_localizations.stamp
build/flutter_assets/assets/celebrities/btsV.jpeg
build/flutter_assets/assets/celebrities/chris.jpeg
build/flutter_assets/assets/celebrities/emilie.jpeg
build/flutter_assets/assets/celebrities/lalisa.jpeg
build/flutter_assets/assets/celebrities/paingtakhon.jpeg
ios/DerivedData/Runner/info.plist
ios/DerivedData/Runner/Logs/Build/1F016C32-E46D-48EC-A5CB-E6374DB75CD8.xcactivitylog
ios/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
ios/DerivedData/Runner/Logs/Package/LogStoreManifest.plist
ios/DerivedData/Runner/Logs/Test/LogStoreManifest.plist
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
lib/widgets/build_mobile_item.dart
lib/widgets/build_web_item.dart
lib/widgets/profile_role.dart
web/ad.htm
web/flutter_app.htm
